*{
    margin:0;
    padding:0;
    font-family:Arial, sans-serif;
}

body{
    background:whitesmoke;
    color: black;
}

nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background: darkblue;
    color:white
}

.logo{
    font-size: 32px;
    font-weight: bold;
    color: white;
}

ul{
    display:flex;
    list-style: none;
    gap:25px;
}

ul li a{
    color:white;
    text-decoration: none;
}

.hero{
    height:90vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero h1{
    font-size: 60px;
    margin-bottom:20px;
    color: darkblue;
}

.hero p{
    font-size:22px;
    margin-bottom:30px;
}

button{
    padding: 15px 30px;
    border: none;
    border-radius:30px;
    font-size: 18px;
    cursor:pointer;
    transition:0.4s;
    background: darkblue;
    color: white;
    
}

button:hover{
   box-shadow: 5px ;
   background-color:darkslateblue;
   transform:translateY(-5px);

}

.hero{
    animation: fadeIn 2s ;
}
@keyframes fadeIn{
    from{
        opacity: 0;
        transform: translateY(50px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

@media(max-width:768px){
    nav{
        flex-direction: column;
    }
    ul{
        flex-direction: column;
        margin-top: 20px;
    }
    .hero h1{
        font-size: 35px;
    }
    .hero p{
        font-size:18px;
    }
    button{
        width:80%
    }
}

.categories{
    padding:80px 10%;
    text-align:center;
    background:white;
}

.categories h2{
    font-size:40px;
    color:darkblue;
    margin-bottom:30px;
}

.category-container{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:25px;
}

.category-card{
    background:white;
    padding:30px;
    border-radius:20px;
    box-shadow:0 5px 15px lightgray;
    transition:0.4s;
    cursor: pointer;
}

.icon{
    font-size:50px;
    margin-bottom:15px;
}

.category-card h3{
    color:black;
}

.stats{
    padding:60px 10%;
    text-align:center;
    background:whitesmoke;
}

.stats h2{
    font-size:36px;
    color:darkblue;
    margin-bottom:40px;
}

.stats-container{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:25px;
}

.stat-card{
    background:white;
    padding:30px;
    border-radius:20px;
    box-shadow:0 5px 15px lightgray;
}

.stat-card h3{
    font-size:32px;
    color:darkblue;
    margin-bottom:10px;
}

.stat-card p{
    color:gray;
}


.Freelancer{
    padding:80px 10%;
    text-align:center;
    background:white;
}

.Freelancer h2{
    font-size:40px;
    margin-bottom:40px;
    color:darkblue;
}

.Freelancer-container{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:30px;
}

.Freelancer-card{
    background:white;
    padding:25px;
    border-radius:20px;
    box-shadow:0 5px 15px lightgray;
    transition:0.4s;
}

.Freelancer-card:hover{
    transform:translateY(-10px);
    box-shadow:0 15px 25px gray;
}

.Freelancer-card img{
    width:120px;
    height:120px;
    border-radius:50%;
    object-fit:cover;
    margin-bottom:15px;
}

.Freelancer-card h3{
    margin-bottom:10px;
    color:black;
}

.Freelancer-card p{
    color:gray;
    margin-bottom:15px;
}

.hire-btn{
    background:blue;
    color:white;
    border:none;
    padding:12px 25px;
    border-radius:30px;
    cursor:pointer;
}

.hire-btn:hover{
    background:darkblue;
}

@media(max-width:768px){

.Freelancer-container{
    grid-template-columns:1fr;
}

.project-container{
    grid-template-columns:1fr;
}

.category-container{
    grid-template-columns:1fr;
}

.stats-container{
        grid-template-columns:1fr;
    }

}

.projects{
    padding:80px 10%;
    background:whitesmoke;
    text-align:center;
}

.projects h2{
    font-size:40px;
    color:darkblue;
    margin-bottom:40px;
}

.project-container{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:30px;
}

.project-card{
    background:white;
    padding:25px;
    border-radius:20px;
    box-shadow:0 5px 15px lightgray;
    transition:0.4s;
}

.project-card:hover{
    transform:translateY(-10px);
    box-shadow:0 15px 25px gray;
}

.project-card h3{
    margin-bottom:15px;
}

.project-card p{
    margin-bottom:10px;
    color:gray;
}

.bid-btn{
    background:blue;
    color:white;
    border:none;
    padding:12px 25px;
    border-radius:30px;
    cursor:pointer;
}

.bid-btn:hover{
    background:darkblue;
}

.footer{
    background:darkblue;
    color:white;
    text-align:center;
    padding:30px;
}

.footer h3{
    margin-bottom:12px;
}

.footer p{
    margin:10px 0;
}


/*login page*/
.login-container{
    width:350px;
    margin:130px auto;
    padding:30px;
    background:white;
    border-radius:28px;
    box-shadow:0 5px 15px lightgray;
    text-align:center;
}

.login-container h2{
    margin-bottom:20px;
    color:darkblue;
}

.login-container input{
    width:80%;
    padding:12px;
    margin:10px 0;
    border:1px solid gray;
    border-radius:8px;
}

.login-container button{
    background:darkblue;
    color:white;
    border:none;
    padding:12px 25px;
    border-radius:25px;
    cursor:pointer;
}

/*Register page*/
.register-container{
    width:350px;
    margin:100px auto;
    padding:30px;
    background:white;
    border-radius:15px;
    box-shadow:0 5px 15px lightgray;
    text-align:center;
}

.register-container h2{
    margin-bottom:20px;
    color:darkblue;
}

.register-container input{
    width:90%;
    padding:12px;
    margin:10px auto;
    display:block;
    border:1px solid gray;
    border-radius:8px;
}

.register-container button{
    background:darkblue;
    color:white;
    border:none;
    padding:12px 25px;
    border-radius:25px;
    cursor:pointer;
}

.register-container button:hover{
    background:darkblue;
}

textarea{
    width:90%;
    padding:12px;
    margin:10px auto;
    display:block;
    border:1px solid darkslateblue;
    border-radius:8px;
}


.nav-buttons{
    display:flex;
    gap:15px;
}

.login-btn{
    text-decoration:none;
    color:white;
    padding:10px 20px;
    border:2px solid white;
    border-radius:25px;
}

.register-btn{
    text-decoration:none;
    background:white;
    color:darkblue;
    padding:10px 20px;
    border-radius:25px;
    font-weight:bold;
}

.login-btn:hover{
    background:white;
    color:darkblue;
}

.register-btn:hover{
    background:whitesmoke;
}

.category-card a{
    text-decoration:none;
    color:inherit;

}

.category-card:hover{
    transform:translateY(-25px) scale(1.05);
    box-shadow:0 15px 30px gray;
}

/* Contact Page */

.contact-container{
    width:450px;
    margin:80px auto;
    padding:35px;
    background:white;
    border-radius:20px;
    box-shadow:0 5px 15px lightgray;
    text-align:center;
}

.contact-container h2{
    color:darkblue;
    margin-bottom:20px;
}

.contact-container input,
.contact-container textarea{
    width:90%;
    padding:12px;
    margin:10px 0;
    border:1px solid lightgray;
    border-radius:8px;
    font-size:16px;
}

.contact-container button{
    background:darkblue;
    color:white;
    padding:12px 25px;
    border:none;
    border-radius:25px;
    cursor:pointer;
    margin-top:10px;
}

.contact-container button:hover{
    background:darkblue;
}

.contact-container p{
    margin-top:15px;
    color:gray;
}

.search-bar{
    width:400px;
    padding:15px;
    margin-top:20px;
    border:1px solid lightgray;
    border-radius:30px;
    font-size:16px;
}

.project-card p{
    margin-bottom:10px;
}

.project-card p:last-of-type{
    color:green;
    font-weight:bold;
}

.role-select{
    display:flex;
    justify-content:center;
    gap:28px;
    margin:15px 0;
    font-size:15px;
}